.menu {
 	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	height:100%
}

.menu ul {
  display: flex;
	flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
	height: 100%
}

.menu ul li {
  margin-right: 1em;
  padding: 0.5em 0;
}
