img	{
	height: 75vh;
}

p {
	font-size: 2em; /* 32px */
}

@media screen and (min-width: 600px) {


	img	{
		height: 100%;
	}


	html {
	 font-size: 1.2em; 
	}

	/*
	 * Layout: 
	 * On passe en mode juxtaposé
	 */

	.carte {
		display: flex;
	}

	section {
		flex: 1 1;
	}


}

@media screen and (min-width: 800px) {
	
	html {
	 font-size: 1.6em; 
	}
	

}

@media screen and (min-width: 1000px) {

	html {
	 font-size: 1.8em; 
	}

	p {
	 font-size: 2.6em; /* 16 x 1.8 x 2.6 = 74.88px */
	}

}

@media screen and (min-width: 1400px) {

	html {
	 font-size: 2em; 
	}

	p {
		font-size: 3em; /* 16 x 2 x 3 = 96px */
	}

}

@media screen and (min-width: 1900px) {

	html {
	 font-size: 2.2em; 
	}

	p {
	 font-size: 3em; /* 16 x 2.2 x 3 = 105.6 */
	}

}
