img	{
	height: 75vh;
}

@media screen and (min-width: 600px) {


	img	{
		height: 100%;
	}


	html {
	 font-size: 1.2em;
	}

	/*
	 * Layout:
	 * On passe en mode juxtaposé
	 */

	body {
		overflow: hidden;
	}

	.carte {
		display: flex;
		height: 100%;
	}

	section {
		flex: 1 1;
	}

	.image {
		height: 100%;
		width: 100%
		flex-grow: auto;
		flex-shrink: 1;
		flex-basis: 40%;
	}

	.texte {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 60%;
	}

}

@media screen and (min-width: 800px) {

	html {
	 font-size: 1.6em;
	}


}

@media screen and (min-width: 1000px) {

	html {
	 font-size: 1.8em;
	}

	.phrase, .button {
	 font-size: 2.6em; /* 16 x 1.8 x 2.6 = 74.88px */
	}

}

@media screen and (min-width: 1400px) {

	html {
	 font-size: 2em;
	}

	.phrase, .button {
		font-size: 3em; /* 16 x 2 x 3 = 96px */
	}

}

@media screen and (min-width: 1900px) {

	html {
		font-size: 2.2em;
	}

	.phrase, .button {
		font-size: 3em; /* 16 x 2.2 x 3 = 105.6 */
		max-width: 12em;
	}

}
