img	{
	height: 75vh;
}

p {
	font-size: 2em;

}

@media screen and (min-width: 600px) {


	img	{
		height: 100%;
	}


	html {
	 font-size: 1.4em; /* rendre les polices plus petites pour mobile */
	}

	p {
		font-size: 2em;

	}


	.carte {
		display: flex;
	}

	section {
		flex: 1 1;
	}


}

@media screen and (min-width: 1000px) {

	html {
	 font-size: 1.8em; /* rendre les polices plus petites pour mobile */
	}

	p {
	 font-size: 3em;

	}

}

@media screen and (min-width: 1400px) {

	html {
	 font-size: 2.2em; /* rendre les polices plus petites pour mobile */
	}

	p {

	}

}

@media screen and (min-width: 1900px) {

	html {
	 font-size: 2.2em; /* rendre les polices plus petites pour mobile */
	}

	p {
	 font-size: 3em;

	}

}
